body {
    padding: 0; margin : 0;
    display: flex;
    flex-direction: column; /* this means that I will need wrapper divs within each section's divs
                                 if I want to use flex-direction and flex-basis differently within each section */
}
/* unless specified, just set every text to this color */
body p, h1 {
    color: #1F2937;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
}

header ul {
    display: flex;
    list-style-type: none;
    padding: 0px;
    gap: 16px;
}

header,
.section-1 {
    background-color: #1F2937;
    color: lightgray;
}

.section-1 {
    display: flex;
    overflow: auto;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;   
    height: 80vh;
}

/* so that image height would resize to fit the text container */
.section-1-wrap {
    display: flex;
    flex-direction: row;
    flex-basis: 66.6666%;
    height: 50%;
    gap: 0px;
}

.section-1 .text-container {
    display: flex;
    flex: 1; /* I don't need to give exact sizes to them, just the wrap div */
    flex-direction: column;
    justify-content: space-between;
    gap: 0px;
}

.section-1 button {
    height: 10%;
    width: 12.5vh; /* I like it when buttons don't wrap text in 2 different lines. */
    flex-shrink: 0;
    flex-wrap:nowrap;
}

/* h1 from section 1 within text-container */
.section-1 h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0; /* this is important */
}

.section-1 p {
    font-size: 18px;
    color: #E5E7EB;
}

.section-1 .image-containerr {
    padding: 0px;
    flex: 1;
    overflow: auto; /* makes image not resize, maintaining a good resolution. */
}

.section-1 .image-containerr img {
    width: 100%;
    border-image: none;
}

/* Section 2's is part of a vertical cross-axis from the Body container */
.section-2 {
    display: flex;
    align-items: center; /* horizontal */
    justify-content: start;  /* vertical */
    flex-direction: column; /* this means images-row's flex-basis sets height */
    height: 70vh; /* hard contraint works better here */
    padding-top: 5vh;
    gap: 5vh;
}

.section-2 .images-row {
    display: flex;
    flex-direction: row;
    justify-content: center; /* x-axis, horizontal */
    align-items: center; /* y-axis, vertical */
    width: 75%;
    box-sizing: border-box;
    height: 50%; /* maintain the same, flex-basis would make it funky */
    overflow: hidden;
    gap: 16px;
    padding: 16px;
}

.section-2 .image-container {
    display: flex;
    box-sizing: border-box;
    max-width: 25%; /* width should be set by a hard constraint here */
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* this is important. Although obvious, I was dumb enough to overlook this */
}

.section-2 img {
    max-width: 100%;
    border-radius: 5%;
    border: 4px solid #75adfa 
}

.section-3 {
    display: flex;
    /* since there's only a single wrapper container here, just use default flex direction */
    height: 60vh;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}

/* this guy's flex-direction matters more */
.section-3-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: 70%;
    flex-wrap: wrap;
}

#quote {
    display: block;
    width: 100%;
    font-size: 2rem; /* good idea to use rem for text. 36px sounds too specific */
    font-style: italic;
}

#author {
    display: block;
    margin: 0px;
    align-self: end; /* to make author move to the end of the wrapper */
    margin-right: 3rem; /* minor styling detail */
}

.section-4 {
    display: flex;
    /* since there's only a single wrapper container here, just use default flex direction */
    height: 50vh;
    justify-content: center;
    align-items: center;
}